<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Supermidia.TV</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/araripina.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">


		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides" id="slides">
                <section>
                    <div class="sl-block" data-block-type="text" style="width: 703px; left: 0px; top: 538px; height: auto;" data-block-id="1dcbce21f17647a9f8379ed443e811e8">
                        <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 12; text-align: right; font-size: 44%;">
                            <h1>Araripina.com.br é um texto legal</h1>
                        </div>
                    </div>
                    <div class="sl-block" data-block-type="image" data-block-id="4a991eabdbe675da2802e5f8ab88008b" style="min-width: 30px; min-height: 30px; width: 690.666666666667px; height: 518px; left: 12px; top: 9px;">
                        <div class="sl-block-content" style="z-index: 11;"><img src="https://s3.amazonaws.com/media-p.slid.es/uploads/hermesalves/images/949282/IMG_5231.JPG" style="visibility: visible;" data-natural-width="1200" data-natural-height="900"></div>
                    </div>
                    <div class="sl-block" data-block-type="shape" data-block-id="cb23e7a8be6122a4519c3851cbc3e723" style="min-width: 4px; min-height: 4px; width: 240px; height: 679px; left: 712px; top: 9px;">
                        <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(207, 226, 243)" data-shape-stretch="true" style="z-index: 13;">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveaspectratio="none" viewbox="0 0 240 679">
                            <rect width="240" height="679" class="shape-element" fill="rgb(207, 226, 243)"></rect>
                            </svg>
                        </div>
                    </div>
                    <div class="sl-block" data-block-type="image" data-block-id="61af128db18db36bf08d6ba53fae089f" style="min-width: 30px; min-height: 30px; width: 56px; height: 56px; left: 18px; top: 14px;">
                        <div class="sl-block-content" style="z-index: 14;"><img src="https://s3.amazonaws.com/media-p.slid.es/uploads/hermesalves/images/949302/icone-tv.png" style="visibility: visible;" data-natural-width="300" data-natural-height="300"></div>
                    </div>
                    <div class="sl-block" data-block-type="text" data-block-id="a3c7bd6f20eb1c5c7d8be80b191666be" style="height: auto; min-width: 30px; min-height: 30px; width: 216px; left: 724px; top: 23px;">
                        <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 15; font-size: 71%; border-width: 5px; border-color: rgb(60, 120, 216); padding: 7px; background-color: rgb(109, 158, 235);">
                            <p>Comentários</p>
                        </div>
                    </div>
                    <div class="sl-block" data-block-type="text" data-block-id="1a5898339162444b835837cf38d58815" style="height: auto; min-width: 30px; min-height: 30px; width: 216px; left: 724px; top: 70px;">
                        <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 16; font-size: 51%;" dir="ui">
                            <p style="text-align:left"> </p>
                            <p style="text-align:left"><strong><span><a href="https://www.facebook.com/may.b.canuto?fref=ufi" target="_blank"><span>May Britney Canuto</span></a></span></strong><span> </span><br>
                                <span>Saudades dessa terrinha</span>
                            </p>
                            <p style="text-align:left"> </p>
                            <p style="text-align:left"><strong><a href="https://www.facebook.com/may.b.canuto?fref=ufi" target="_blank">May Britney Canuto</a></strong><span style="color:rgb(51, 51, 51); text-align:left"> </span><br>
                                <span style="color:rgb(51, 51, 51); text-align:left">Saudades dessa terrinha</span>
                            </p>
                            <p style="text-align:left"> </p>
                            <p style="text-align:left"><strong><a href="https://www.facebook.com/may.b.canuto?fref=ufi" target="_blank">May Britney Canuto</a></strong><span style="color:rgb(51, 51, 51); text-align:left"> </span><br>
                                <span style="color:rgb(51, 51, 51); text-align:left">Saudades dessa terrinha</span>
                            </p>
                        </div>
                    </div>
                </section>
                <section> <!-- empty slide --> </section>
                <!-- <section data-supermidia-time='1000'> <h1>1</h1></section>
                <section data-supermidia-time='1000'> <h1>2</h1></section>
                <section data-supermidia-time='1000'> <h1>3</h1></section> -->
                
            </div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>
		<script src="js/jquery-2.1.3.min.js"></script>
		<script src="js/underscore-min.js"></script>
        <script type="text/javascript" src="cordova.js"></script>

		<script>
            var slideTimeout = 3 * 1000;
            var loadDataTimeout = 1 * 3600 * 1000;

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				//controls: true,
				//progress: true,
				//history: true,
				//center: true,

				//theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				//transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

                controls: false,
                progress: false,
                history: false,
                theme: 'simple',
                //theme: 'default',
                transition: 'zoom',
                transitionSpeed: 'default',
                center: true,
                //autoSlide: 5000,

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});
            
            document.addEventListener('deviceready', function(event) {
                console.log("Device is Ready");
            }, false);

            /* play it after */
            Reveal.addEventListener('slidechanged', function( event ) {
                //console.log("slidechanged", event);
                //waitAndNext(event);
            });
            Reveal.addEventListener('ready', function(event) {
                //console.log('ready', event);
                //waitAndNext(event);

                /* load data from json */
                //setupPeriodicTask(updateSlides, 1000, true);
                
                var timeoutID = null;
                return;
                setupPeriodicTask(function() {
                    $.getJSON("http://supermidia.tv/facebook/facebook.php", function(data) { 
                        var parsedData = parseData(data);
                        updateSlides(parsedData);
                        if (timeoutID) { 
                            window.clearInterval(timeoutID);
                            timeoutID = null;
                        }
                        Reveal.slide(0);
                        timeoutID = waitAndNext();
                    })
                }, loadDataTimeout, true);

            });


            function setupPeriodicTask(funcToExec, timeout, execNow) {
                execNow = execNow || false;
                timeout = timeout || 1000;
                infiniteCall = function () {
                    window.setTimeout(function() {
                        funcToExec();
                        infiniteCall();
                    }, timeout);
                };
                if (execNow) {
                    window.setTimeout(function() {
                        funcToExec();
                        infiniteCall();
                    }, 0);
                } else {
                    infiniteCall();
                }

            }
            
            function parseData(data) {
                var parsedData = [];
                _.each(data, function(item) {
                    if (! item.full_picture || ! item.message) {
                        return;
                    }
                    o = { image: item.full_picture, 
                          message: item.message, 
                          comments: [] };
                    if (item.comments) {
                        _.each(item.comments.data, function (c) {
                            o.comments.push(c.from.name + ": " + c.message); 
                        });
                    }
                    parsedData.push(o);
                });

                return parsedData;
            }


            function loadData() {
                /*return [ { image: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
                           message: "hello",
                           comments: ['massa', 'da hora'] },
                         { image: 'https://scontent-b.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/s720x720/10671316_829102807148380_7755995420701151530_n.jpg?oh=3309d94e7f631adacec782cae4456265&oe=54FD5095',
                           message: "opa",
                           comments: ['da hora mesmo', 'sempre precisei disso'] },];*/
                //$.getJSON("http://supermidia.tv/facebook/facebook.php", function(data) { console.log(data);})
            }

            function updateSlides(data) {
                /* empty */
                var slides = $("#slides")

                var template = _.template(function(){/* 
                    <section data-supermidia-time='3000'> 
                        <div> img: <img src='<%- image %>'/> </div>
                        <div> msg: <%- message %> </div>
                        <div> comment:
                           <% _.each( comments, function(comment) { %>
                           <p> <%- comment %> </p>
                           <% }); %>

                    </section>
                */}.toString().slice(14,-3));
                
                var content = "<section><!-- empty slide --></section>";
                _.each(data, function(slide) {
                    content += template(slide);
                });
                slides.html(content);
            };

            function waitAndNext() {
                return window.setInterval( function() {
                    /* Am I the last ? */
                    var current = Reveal.getIndices().h || 1;
                    var next = current + 1;
                    if (Reveal.isLastSlide()) {
                        next = 1;
                    }
                
                    console.debug("Waiting " + 
                              slideTimeout + 
                              "ms until next slide (" + 
                              next + 
                              ")");
                    Reveal.slide(next);
                }, slideTimeout);
            }


		</script>

	</body>
</html>
